<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap mp">
  <Identity Name="ChonkyStation4.XboxCapabilityProbe" Publisher="CN=ChonkyStation4" Version="0.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="5C0F782A-783A-4D97-97C1-BF28A7A73B55" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>XboxCapabilityProbe</DisplayName>
    <PublisherDisplayName>ChonkyStation4</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Xbox" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources><Resource Language="en-us" /></Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="XboxCapabilityProbe.App">
      <uap:VisualElements DisplayName="XboxCapabilityProbe" Description="ChonkyStation4 Xbox capability probe" BackgroundColor="#101018" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#101018" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities><Capability Name="internetClient" />
    <Capability Name="codeGeneration" /></Capabilities>
</Package>
